@font-face {
    font-family: 'ASOKA';
    src: url('./assets/fonts/WILLG___.TTF') format('truetype');
}

body{
    font-size: 20px;
    font-weight: lighter;
    color: rgb(248, 228, 215);
    background-image: url('./assets/img/background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

body,
header,
footer{
    margin: 0;
    font-family: 'ASOKA';
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

header,
footer{
    border-bottom: 2px solid black;
    background-color: rgb(205, 154, 115);
}

h1{
    font-weight: lighter;
    font-size: 32px;
    margin: 10px 10px;
    border-bottom: 1px solid rgb(232, 231, 231);
}
h2{
    font-weight: lighter;
    font-size: 28x;
    margin: 10px 10px;
}
a {
    text-decoration: none;
    color: white
}
a:hover{
    color:rgb(205, 154, 115);
}

p{
   margin: 5px 0; 
}

.max_width{
    max-width: 1920px;
    width: 100%;
}
.header_content{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 24px;
}

.burger_menu{
    height: 32px;
    display: none;
    padding: 0 24px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.burger_menu_icon{
    background-color: black;
    width: 28px;
    height: 3px;
    margin: 2px;
}

.nav_sidebar{
    position: absolute;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    background-color: rgba(0, 0, 0, 0.486);
    width: 20%;
    height: 100vh;
    gap: 8px;
    transition: all 125ms ease-in-out;
    padding-right: 24px;
    padding-top: 100px;
}

.search_input_sidebar{
    display: flex;
}

.input_sidebar{
    width:60%
}

.img_header {
  width: 150px;
  padding-bottom: 8px;
}

.img_header:hover{
    cursor: pointer;
    scale: 1.05;
}
.img_footer {
  width: 50px;
}
.search_icon {
  width: 15px;
  border-radius: 100%;
}

.search_btn {
  display: flex;
  align-items: center;
  height: 20px;
  width: 30px;
  border-radius: 0 50% 50% 0;
  padding: 0;
}
.search_btn_sidebar{
    border-radius: 50% 0 0 50%;
}

.search_btn:hover,
.search_btn_sidebar:hover{
    background-color: rgb(150, 149, 149);
}

nav{
    flex:1;
}
.div_nav_content{
    display: flex;
    justify-content: flex-end;
    gap: 3%;
}

.div_nav_content a,
.div_footer_links a{
    color: rgb(0, 0, 0);
    }

.div_nav_content a:hover,
.div_footer_links a:hover{
        color: rgb(255, 255, 255);
        }

.div_search_input{
    display: flex;
}
/* Einzelseite */

.book_img{
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 200px;
    height: 200px;
    border: 1px solid rgb(186, 186, 186);
    border-radius: 30%;
}
.div_book_info{
    height: 200px
}

/* Sektion Best Seller */
.section_best_seller{
    min-height: 100vh;
    width: 100%;
}

.best_sellers{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
}

#best_seller1,
#best_seller3{
    width: 20%;
    height: 30vh; 
}
#best_seller2{
    flex:1;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.best_seller_img a{
    color: rgb(0, 0, 0);
}

.best_seller_img{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 16px;
}
#best_seller1:hover,
#best_seller3:hover{
    cursor: pointer;
    scale: 1.05;
}

/* Sektion Categories */
.div_categories{
    display: flex;
    flex-wrap: wrap;
    height: 100px;
    width: 100%;
    text-align: center;
    gap: 5%;
}

.categories{
    background-color: grey;
    height: 100%;
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid black;
    border-radius: 30%;
}

.categories:hover{
    filter: brightness(80%);
    scale: 1.05;
}

/* Sektion Categories */
.div_additions{
    display: flex;
    flex-wrap: wrap;
    height: 100px;
    width: 100%;
    text-align: center;
    gap: 5%;
}

.div_new_books{
    background-color: grey;
    height: 100%;
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid black;
    border-radius: 30%;
}

.div_new_books:hover{
    filter: brightness(80%);
    scale: 1.05;
}

.overlay{
    position: absolute;
    max-width: 1920px;
    width: 100%;
    height: 300px;
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.331);
}

.book_description,
#book_description{
    background-color: rgb(205, 154, 115);
    border-radius: 0% 30% 30% 0%;
    padding: 15px;

}

/* Footer-Bereich */

.div_footer_content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 24px;
}

.div_footer_links{
    display: flex;
    align-items: center;
    gap: 5%;
    width: 300px;
    padding-right: 24px;
    padding-top: 24px;
}
.separator{
    background-color: black;
    height: 30px;
    width: 2px;
}

.img_footer{
    padding-left: 24px;
    padding-top: 24px;
}

.d_none{
    display: none;
}
@media (max-width: 750px){
    .div_nav_content {
        display: none
    }
    .burger_menu{
        display: flex;
        flex-direction: column;
    }
}


/* extra Book Page */
.book_page{
    display: flex;
    flex-direction: column;
    background-color: rgba(32, 32, 32, 0.481);
}
.section_book_page{
    display: flex;
    flex-direction: column;
    padding: 0 24px;
}

.upper_page_part{
    display: flex;
    flex-direction: column;
}
.div_book_info{
    display: flex;
    justify-content: center;
    gap: 24px;
}

.book_informations{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.section_comments,
.div_like_and_comments{
    border-bottom: 1px solid rgb(186, 186, 186);
    padding: 0 24px;
}

.div_comments{
    display: flex;
    flex-direction: column;
}
textarea{
min-height: 50px;
background-color: rgba(0, 0, 0, 0.28);
color: white;
font-family: 'ASOKA';
font-size: 20px;
border: none;
}

.div_textarea{
    display: flex;
    align-items: center;
}
.saved_comment{
    
    border-radius: 5%;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.28);
}

.heart_icon,
.send_icon{
    width:30px;
    margin-left: 8px
}

.div_like{
    display: flex;
    align-items: center;
}

.empty_heart{
    background: transparent;
}