@font-face {
    font-family: 'jackie';
    src: url('./assets/fonts/jackie.ttf') format('truetype');
}

@font-face {
    font-family: 'Sacramento';
    src: url('./assets/fonts/Sacramento.ttf') format('truetype');
}


body{
    margin: 0;
    font-family: 'jackie';
}

h1{
    font-weight: lighter;
    font-size: 40px;
}
a {
    text-decoration: none;
}

a:hover{
    cursor: pointer;
    scale: 1.05;
}

.burger_menu{
    height: 32px;
    display: none;
}

.burger_menu_icon{
    background-color: black;
    width: 24px;
    height: 2.5px;
    margin: 5px;
}

.nav_sidebar{
    position: absolute;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    background-color: rgba(0, 0, 0, 0.627);
    width: 20%;
    height: 100vh;
    gap: 8px;
    transition: all 125ms ease-in-out;
}

.search_input_sidebar{
    display: flex;
}

.input_sidebar{
    width:60%
}

.img_header {
  width: 200px;
}

.img_header:hover{
    cursor: pointer;
    scale: 1.05;
}
.img_footer {
  width: 50px;
}
.search_icon {
  width: 15px;
  border-radius: 100%;
}

.search_btn {
  display: flex;
  align-items: center;
  height: 20px;
  width: 30px;
  border-radius: 0 50% 50% 0;
  padding: 0;
}
.search_btn_sidebar{
    border-radius: 50% 0 0 50%;
}

.search_btn:hover,
.search_btn_sidebar:hover{
    background-color: rgb(150, 149, 149);
}


.header_content{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
nav{
    flex:1;
}
.div_nav_content{
    display: flex;
    justify-content: flex-end;
    gap: 3%
}
.div_search_input{
    display: flex;
}

/* Sektion Best Seller */
.section_best_seller{
    min-height: 100vh;
    width: 100%;
}
.best_sellers{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
}

#left_best_seller,
#right_best_seller{
    width: 20%;
    background-color: grey;
    
}
#best_seller_render{
    flex:1
}

/* Sektion Categories */
.div_categories{
    display: flex;
    flex-wrap: wrap;
    height: 100px;
    width: 100%;
    text-align: center;
    gap: 5%;
}

.categories{
    background-color: grey;
    height: 100%;
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid black;
    border-radius: 30%;
}

.categories:hover{
    filter: brightness(80%);
    scale: 1.05;
}

/* Sektion Categories */
.div_additions{
    display: flex;
    flex-wrap: wrap;
    height: 100px;
    width: 100%;
    text-align: center;
    gap: 5%;
}

.div_new_books{
    background-color: grey;
    height: 100%;
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid black;
    border-radius: 30%;
}

.div_new_books:hover{
    filter: brightness(80%);
    scale: 1.05;
}

/* Footer-Bereich */

.div_footer_content{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.div_footer_links{
    display: flex;
    align-items: center;
    gap: 5%;
    width: 300px;
}
.separator{
    background-color: black;
    height: 30px;
    width: 2px;
}

.d_none{
    display: none;
}
@media (max-width: 750px){
    .div_nav_content {
        display: none
    }
    .burger_menu{
        display: flex;
        flex-direction: column;
    }
}


/* extra Book Page */
.book_page{
    display: flex;
    flex-direction: column;
}
.section_book_page{
    display: flex;
    flex-direction: column;
    height: 50vh;
}

.upper_page_part{
    display: flex;
    justify-content: space-evenly;
}

.section_comments{
    background-color: gray;
    flex:1;
}

.div_comments{
    display: flex;
    flex-direction: column;
}